$white: #FFF;
$black: #000;
$gray: #f8f8f8;
$dark-gray: #BBC;
$darker-gray: #666;
$background-gray: #e8e8e8;
$background-lgray: #f4f4f4;	
$border-gray: #d0d0d0;
$purple: #842dce;
$link-blue: #008cba;
$hover-blue: #005470;
$nav-font: Oswald, Helvetica, sans;
$roster-font: Roboto, Helvetica, sans;