//@import "compass";
@import "colorfont";
	
/*** General Styles ***/

ul, ol, li, h1, h2, h3, h4, h5, 
h6, pre, form, body, html, p, 
blockquote, fieldset, input{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	background-color: $gray;
}

.padding-top{
	padding-top: 50px !important;
}

/*** Navigation Bar Styles ***/

.header{
	width: 100%;
	background-color: $white;
	top: 0;
	left: 0;
	font-family: $nav-font;
	border-bottom: 1px solid $dark-gray;

	.links{
		border-spacing: 0px;
		width: 100%;
		position: relative;
		top: 3px;
	}

	a{
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			color: $purple;
		}
	}

	td{
		text-align: center;
		font-size: 28px;
		line-height: 2.2em;
	}

	ul, li{
		list-style: none;
		display: inline-block;
		position: relative;
		padding: 0 34px;
	}

	#logo{
		position: relative;
		vertical-align: middle;
	}

	.mobile-nav{
		display: none;
		box-sizing: border-box;
		padding: 0 10px;

		.menu{
			display: block;
			float: right;

			img{
				width: 36px;
				height: 36px;
				margin-top: 32px;
			}
		}

	}

	.mobile-links{

		display: none;

		.mobile-link{
			color: $darker-gray;
			line-height: 1em;
			padding: 13px 10px;
			box-sizing: border-box;
			font-weight: normal;
			border-top: 1px solid $dark-gray;

			&:hover{
				color: $purple;
				background-color: $gray;
			}
		}
	}
}

/* End of Navigation Bar Styles */

/* Roster Page Styles */

#cover_photo{
	position: relative;
	background-image: url('../images/roster_cover.jpg');
	// needs latest Compass, add '@import "compass"' to your scss
//@include filter-gradient(#a89b14, #a80038, horizontal); // IE6-9 fallback on horizontal gradient
//@include background-image(linear-gradient(left top, rgba(155,20,155,0.66) 0%,rgba(0,56,146,0.66) 100%));
	background-size: cover;
	background-position: top center;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}

#cover_title{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;

	h1{
		font-family: $nav-font;
		font-size: 5.65em;
		color: $white;
	}
}

.overlay_purple_gradient{
	background-image: linear-gradient(to right bottom, rgba(155, 20, 155, 0.66) 0%, rgba(0, 56, 146, 0.66) 100%);
	height:100%;
	width: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	content: '';
}

.roster{
	background-color: $background-gray;
	border: 1px solid $border-gray;

	table{
		color: #4e4e4e;
		font-family: $roster-font;
		width: 100%;
		border-spacing:0;

		tr:nth-child(odd){
			background-color: $background-lgray;
		}

		tr:nth-child(even){
			background-color: $background-gray;
		}

		thead{
			outline: 1px solid $border-gray;
		}

		tbody, tr, td{
			padding: 1.25em 0.875em;
			line-height: 1.125em;
			text-align: center;
		}

		th{
			font-weight: bold;
			padding: 0.625em;
		}

		a{
			text-decoration: none;
			color: $link-blue;

			&:hover{
				color: $hover-blue;
			}
		}

	}
}

.main{
	background-color: $white;
	//position: relative;
	height: 350px;
	//background-image: linear-gradient(to bottom, #eaebeb 0%, #ffffff 100%);
}

/*** Responsive Design ***/

$large: "only screen and (max-width: 1129px)";
$medium: "only screen and (max-width: 959px)";
$small: "only screen and (max-width: 767px)";


@media #{$large} {
	.header {
		ul, li{
			padding: 0 30px;
		}
	}

	#cover_title h1{
		font-size: 4.0em;
	}
}

@media #{$medium} {
	.links td{
		padding: 0px 0px;
		line-height: 2.9em;
		font-size: 22px;
	}

	.header{
		ul, li{
			padding: 0 20px;
		}
	}
}

@media #{$small} {
	.container:not(.no-expand){
		width: 100% !important;

		.columns:not(.no-expand), .column{
			width: 100% !important;
		}
	}

	.header{
		.default-nav{
			display: none;
		}

		.mobile-nav{
			display: block !important;
		}

		#logo img{
			padding: 0px;
		}
	}

	#cover_title h1{
		font-size: 3.5em;
	}

}


